.header {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.01);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 30px;
    color: #fff;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top-left {
    display: flex;
    gap: 20px;
}

.header__top-right {}

.header-nav__list {
    display: flex;
    gap: 30px;
}

.header__bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header-nav__link {
    color: #fff;
    display: block;
    transition: all 0.3s;
}

.header-nav__link:hover {
    transform: scale(1.1);
}

.header__phone {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__phone:hover {
    color: orange;
}

.header__phone i {
    transition: all 0.3s;
}

.header__phone:hover i {
    font-size: 26px;
}