.hero {
    background-image: url('./../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-top: -150px;
    border-radius: 0 0 16px 16px;
}